[user]
	name = Gabe Isman
	email = gabe.isman@gmail.com
[color]
  ui = true
[merge]
  renamelimit = 2000
[push]
  default = current
[alias]
  co = checkout
  ci = commit
  me = merge --no-ff --no-edit
  br = branch
  hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
  recent = for-each-ref --count=10 --sort=-committerdate --format='%(committerdate:relative)\t%(refname:short)\t\t%(contents:subject)' refs/heads/
  praise = blame
  st = status
  unstage = reset HEAD
  deploy = subtree push
  ctags = !.git/hooks/ctags
  undo = reset --soft HEAD^
[core]
  excludesfile = ~/.gitignore
[init]
  templatedir = ~/.git_template
[diff]
  algorithm = patience
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
