snippet katie "Co-authored-by commit trailer"
Co-authored-by: Katie Park <katie.e.park@gmail.com>
endsnippet

snippet ryan "Co-authored-by commit trailer"
Co-authored-by: Ryan Murphy <ryan@rdmurphy.net>
endsnippet

snippet aithne "Co-authored-by commit trailer"
Co-authored-by: Aithne Feay <aithnefeay@gmail.com>
endsnippet
